# Makefile targets
goimports-check
goimports-format
whitespace-check
whitespace-format
vet

# Temporary build files
build/_output

# Local kubevirtci cluster
_kubevirtci/

# Temporary built files
_out/
